.container {
  background: linear-gradient(#2288ee,#42caff);
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.inputGroup {
  height: 30%;
  width: 200%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: white;
}
.inputLabel {
  text-align: left;
}
.inputField {
  height: 30px;
  border-radius: 10px;
}

.inputMessage {
  height: 100px;
  border-radius: 10px;
}


.inputButton1 {
background: #ffffff;
text-align: center;
border-radius: 10px;
align-items: left;

}

.inputButton2 {
background: #ffffff;
text-align: center;
border-radius: 10px;
align-items: right;

}

.footerButton1 {
text-align: center;
align-items: right;

}
.footerButton2 {
text-align: center;
align-items: right;

}




@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .inputGroup, .inputLabel, .inputField, .inputButton1, .inputButton2 {
    width: 100%;
    flex-direction: column;

  }
}
